<div class="container page-center">
  {{#link-to "signup" class="button"}}
    {{bs-button defaultText="Please click here to sign up" class="btn-lg" type="primary"}}
  {{/link-to}}
  <div class="form-row">
    <br>
    To make the username already taken, just try to register the same name twice, without reloading the app.
  </div>
</div>
